body{
    background-color: rgb(93, 148, 231);
    /* justify-content: center;
    display: flex; */
}
.container{
    display: flex;
    justify-content: center;
}

.login{
  background-color: white;
  margin: 15rem 0px;
  height: 20rem;
  width: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading{
    float: left;
}
.google{
    cursor: pointer;
}
.small{
    font-size: 15px ;
    color: rgba(71, 67, 67, 0.596);
}
.google{
    width: 20%;
    height: 70px;
}